<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618334712369-5smjgj1bg4462itjo0mctt4v9hd8pcmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618334712369-5smjgj1bg4462itjo0mctt4v9hd8pcmb</string>
	<key>API_KEY</key>
	<string>AIzaSyAdlLAK8AOdVfYdsJJv6kxNQjEXWjQasxc</string>
	<key>GCM_SENDER_ID</key>
	<string>618334712369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>my-cbd-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-cbd-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618334712369:ios:6703c6ebac61515a80db10</string>
	<key>DATABASE_URL</key>
	<string>https://my-cbd-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>